<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Model\ResourceModel\Review" type="EduardCherkashyn\OverdoseAdvancedReview\Model\ResourceModel\Review" />
    <preference for="Magento\Review\Model\ResourceModel\Review\Collection" type="EduardCherkashyn\OverdoseAdvancedReview\Model\ResourceModel\Review\Collection" />
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form" type="EduardCherkashyn\OverdoseAdvancedReview\Block\Adminhtml\Edit\Form" />
</config>
